 *, *::after, *::before {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 300px;
    max-width: 80%;
}

#addBookButton {
    padding: 10px;
    font-size: large;
    margin-bottom: 40px;
    align-self: center;
    background-color: #f0f9ff;
    border-radius: 5px;
    border: 1px solid black;

}


.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 10px 15px ;
    margin: ;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
.container {
    /* display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

table {
    border-collapse: collapse;
    min-width: 800px;
    width: 80vw;
}

tr {
    border-bottom: 1px dotted gray;
}

td {
    text-align: center;
    padding: 5px 15px;    
}

#header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: #0c4a6e;
}

.readButton {
    width: 90px;
    border: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    
}

#removeButton {
    width: 90px;
    background-color: rgb(247, 195, 195);
    border-radius: 3px;
    border: none;
    padding: 5px;
    font-size: 16px;
    
}

th {
    padding: 10px;
    background-color: #0c4a6e;
    color: #f0f9ff;
}

.title, .author, .pages, .read, .submit {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #0c4a6e;
    
   
}

label {
    color: #0c4a6e;
}

#submit {
    width: 100px;
    font-size: 16px;
    align-self: center;
    padding: 12px;
    margin: 10px;
    background-color: #0284c7;
    border: none;
    border-radius: 5px;
    color: #f0f9ff;
}

.read {
    background-color: rgb(80, 92, 228);
    
}

#reset {
    width: 50px;
    align-self: flex-end;
    border-radius: 3px;
    border: none;
    background-color: #0284c7;
    padding: 6px;
    color: white;
    
}